<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestão de Produtos</title>
    <link rel="icon" href="static/img/gest.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="fontawesome/css/all.css">

  </head>
  <body class="bg-white">

    <!-- navbar inicio -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <img src="static/img/gest.png" alt="Papelaria Vitória" width="30" height="30" class="d-inline-block align-text-top">
        <a class="navbar-brand" style="padding-left: 7px;" href="/">Gestão de Produtos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        </div>


      </div>
    </nav>
    <!-- navbar fim-->

    <!-- main inicio -->
    <main>
        
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-white">
        <div class="col-md-6 p-lg-5 mx-auto my-8">
          <h1 class="display-12 fw-normal" style="padding-bottom: 30px;">Gestão de Produtos</h1>
          <p class="lead fw-normal " style="padding-bottom: 20px;">Cadastre-se e gerencie seus produtos.</p>
          <a class="btn btn-outline-dark rounded-3" href="/signup">Cadastre-se</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>

      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-black">
        <div class="col-md-10 p-lg-5 mx-auto my-8">
          <h1 class="display-12 fw-normal text-white" style="padding-bottom: 30px;">Sobre</h1>
          <p class="lead fw-normal text-white" style="padding-bottom: 20px; text-align: justify;">
          Este site é um estoque. Você pode adicionar os produtos que você tem no seu estoque aqui, modificá-los e remove-los.
          </p>
        </div>
      </div>

    </main>
    <!-- main fim-->


    <!-- footer inicio -->
    <footer class="bg-dark text-center text-white">

      <div class="text-center p-2" style="background-color: black;">
        © 2023 Copyright:
        <a class="text-white" style="text-decoration: none;" href="/">Gestão de Produtos</a>
      </div>
      
    </footer>
<!--footer fim -->

    <!--Bootstrap JS-->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
  </body>
</html>
